@use "./colors.scss" as colors;

* {
  margin: 0;
  padding: 0;
  z-index: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: colors.$background-color;
  color: colors.$text-color;
  position: relative;
  overflow-x: hidden;
}

::selection {
  background-color: colors.$primary-color;
  color: colors.$text-color;
}

::-webkit-scrollbar {
  width: 1.5vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: colors.$primary-color;
  border-radius: 0.3vw;
}
